@media only screen and (min-width: 1200px) {
  .mb-btn-nav {
    display: none;
  }
  .menu {
    display: block;
  }

  .menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
  }

  .menu ul li a, a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 18px;
  }

  .btn-consulta{
    text-decoration: none;
    color: var(--color-naranja);
    background-color: var(--blanco);
    padding: 10px 20px;
    border-radius: 5px;
  }
  .contenedor-menu figure {
    width: 180px;
  }

  /* tarjetas */
  .seccion-tarjetas {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding: 80px 20px 30px;
    justify-content: space-between;
  }
  .tarjeta-texto h3 {
    font-size: 24px;
    font-family: var(--font-contenido);
    font-weight: 900;
    text-align: center;
  }
  .tarjeta-texto p {
    margin-top: 10px;
    font-size: 18px;
    color: var(--color-negro);
  }
}
