/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* variables */

:root {
  --color-naranja: #ff3b00;
  --color-negro: #333;
  --color-gris: #f6f7fc;
  --color-btn: #f6f7fb;
  --blanco: #ffffff;
  --font-contenido: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-contenido), sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

.margen {
  padding: 15px;
  /* border: 1px solid #333; */
}

/* menu */
nav {
  display: none;
}

.back-naranja {
  background-color: var(--color-naranja);
}
.contenedor-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.contenedor-menu figure {
  width: 110px;
}
.contenedor-menu figure img {
  width: 100%;
  display: block;
}
.mb-btn-nav i {
  color: var(--blanco);
  font-size: 24px;
}

/* tarjetas */
main {
  background-color: var(--color-gris);
  flex: 1;
}
.seccion-tarjetas {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  padding: 80px 30px 10px;
}
.tarjeta {
  max-width: 375px;
  height: 522px;
  background-color: var(--blanco);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.tarjeta figure {
  width: 100%;
  position: relative;
  z-index: 0;
}
.tarjeta figure img:first-child {
  width: 100%;
  border-radius: 15px;
  display: block;
  object-fit: cover;
}
.icono-tarjeta {
  display: block;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  bottom: -25px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1));
}
.tarjeta-texto {
  padding: 0px 20px;
}
.tarjeta-texto h3 {
  font-family: var(--font-contenido);
  font-weight: 900;
  text-align: center;
}
.tarjeta-texto p {
  margin-top: 10px;
  color: var(--color-negro);
}
.btn-naranja {
  width: 100%;
  color: black;
  font-family: var(--font-contenido);
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gris);
  padding-left: 10px;
  margin-top: 30px;
}
.btn-naranja i {
  background-color: var(--color-naranja);
  padding: 20px;
  color: var(--blanco);
}

/* btn subir */
.btn-subir a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: var(--color-naranja);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

footer {
  background-color: #dfdfdf;
  margin-top: auto;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
